html,
body {
  background: $c-base;
  position: relative;
  font-family: monospace;
}

a {
  &:visited,
  &:link,
  &:hover,
  &:active {
    color: inherit;
    padding: 0 .5em;
  }
}

main {
  padding-top: 50px;
  padding-bottom: 80px;
}
