$c-base: #020818;
$c-primary: #26F046;
$c-led: #1B1A20; // 0
$c-green: #26F046; // 1
$c-white: #F9FBF6; // 2
$c-red: #EB007C; // 3
$c-yellow: #FFFC02; // 4
$c-blue: #009ADD; // 5

$led-taipei: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,2,2,2,2,2,2,2,2,0,0,0,2,0,0,0,0,2,2,2,2,0,2,2,2,2,2,2,0,0,2,2,2,2,2,2,0,2,2,2,2,0,0),
  (0,0,2,0,0,2,2,0,0,0,0,0,2,2,2,0,0,0,0,2,2,0,0,2,2,0,0,0,2,2,0,2,2,0,0,0,0,0,0,2,2,0,0,0),
  (0,0,0,0,0,2,2,0,0,0,0,2,2,0,2,2,0,0,0,2,2,0,0,2,2,0,0,0,2,2,0,2,2,0,0,0,0,0,0,2,2,0,0,0),
  (0,0,0,0,0,2,2,0,0,0,2,2,0,0,0,2,2,0,0,2,2,0,0,2,2,0,0,0,2,2,0,2,2,0,0,0,0,0,0,2,2,0,0,0),
  (0,0,0,0,0,2,2,0,0,0,2,2,0,0,0,2,2,0,0,2,2,0,0,2,2,0,0,0,2,2,0,2,2,2,2,2,2,0,0,2,2,0,0,0),
  (0,0,0,0,0,2,2,0,0,0,2,2,0,0,0,2,2,0,0,2,2,0,0,2,2,2,2,2,2,0,0,2,2,0,0,0,0,0,0,2,2,0,0,0),
  (0,0,0,0,0,2,2,0,0,0,2,2,2,2,2,2,2,0,0,2,2,0,0,2,2,0,0,0,0,0,0,2,2,0,0,0,0,0,0,2,2,0,0,0),
  (0,0,0,0,0,2,2,0,0,0,2,2,0,0,0,2,2,0,0,2,2,0,0,2,2,0,0,0,0,0,0,2,2,0,0,0,0,0,0,2,2,0,0,0),
  (0,0,0,0,2,2,2,2,0,0,2,2,0,0,0,2,2,0,2,2,2,2,0,2,2,0,0,0,0,0,0,2,2,2,2,2,2,0,2,2,2,2,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0)
);
$led-fisu: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,2,2,0,0,0,2,2,0,2,2,0,0,0,2,2,0,2,2,2,2,0,2,2,0,0,0,2,2,0,2,2,2,2,2,2,0,2,2,2,2,2,2,0,0,0,2,2,2,2,2,0,0,2,2,2,2,0,0,0,0,2,0,0,0,0,2,2,2,2,2,0,0,0,2,2,2,2,2,2,0,0),
  (0,0,2,2,0,0,0,2,2,0,2,2,0,0,0,2,2,0,0,2,2,0,0,2,2,0,0,0,2,2,0,2,2,0,0,0,0,0,2,2,0,0,0,2,2,0,2,2,0,0,0,2,2,0,0,2,2,0,0,0,0,2,2,2,0,0,0,2,2,0,0,2,2,0,0,2,2,0,0,0,0,0,0),
  (0,0,2,2,0,0,0,2,2,0,2,2,2,0,0,2,2,0,0,2,2,0,0,2,2,0,0,0,2,2,0,2,2,0,0,0,0,0,2,2,0,0,0,2,2,0,2,2,0,0,0,0,0,0,0,2,2,0,0,0,2,2,0,2,2,0,0,2,2,0,0,0,2,2,0,2,2,0,0,0,0,0,0),
  (0,0,2,2,0,0,0,2,2,0,2,2,2,2,0,2,2,0,0,2,2,0,0,2,2,0,0,0,2,2,0,2,2,0,0,0,0,0,2,2,0,0,0,2,2,0,2,2,0,0,0,0,0,0,0,2,2,0,0,2,2,0,0,0,2,2,0,2,2,0,0,0,2,2,0,2,2,0,0,0,0,0,0),
  (0,0,2,2,0,0,0,2,2,0,2,2,0,2,2,2,2,0,0,2,2,0,0,2,2,0,0,0,2,2,0,2,2,2,2,2,2,0,2,2,0,0,0,2,2,0,0,2,2,2,2,2,0,0,0,2,2,0,0,2,2,0,0,0,2,2,0,2,2,0,0,0,2,2,0,2,2,2,2,2,2,0,0),
  (0,0,2,2,0,0,0,2,2,0,2,2,0,0,2,2,2,0,0,2,2,0,0,2,2,0,0,0,2,2,0,2,2,0,0,0,0,0,2,2,2,2,2,2,0,0,0,0,0,0,0,2,2,0,0,2,2,0,0,2,2,0,0,0,2,2,0,2,2,0,0,0,2,2,0,2,2,0,0,0,0,0,0),
  (0,0,2,2,0,0,0,2,2,0,2,2,0,0,0,2,2,0,0,2,2,0,0,0,2,2,0,2,2,0,0,2,2,0,0,0,0,0,2,2,0,2,2,0,0,0,0,0,0,0,0,2,2,0,0,2,2,0,0,2,2,2,2,2,2,2,0,2,2,0,0,0,2,2,0,2,2,0,0,0,0,0,0),
  (0,0,2,2,0,0,0,2,2,0,2,2,0,0,0,2,2,0,0,2,2,0,0,0,0,2,2,2,0,0,0,2,2,0,0,0,0,0,2,2,0,0,2,2,0,0,2,2,0,0,0,2,2,0,0,2,2,0,0,2,2,0,0,0,2,2,0,2,2,0,0,2,2,0,0,2,2,0,0,0,0,0,0),
  (0,0,0,2,2,2,2,2,0,0,2,2,0,0,0,2,2,0,2,2,2,2,0,0,0,0,2,0,0,0,0,2,2,2,2,2,2,0,2,2,0,0,0,2,2,0,0,2,2,2,2,2,0,0,2,2,2,2,0,2,2,0,0,0,2,2,0,2,2,2,2,2,0,0,0,2,2,2,2,2,2,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0)
);
