@import 'variable';
// fonts
@import 'font';
// vendors
@import 'vendor/normalize-scss/normalize';
// mixins
@import 'mixin/breakpoint';
@import 'mixin/custom-funcs';
// default skin
@import 'base';
// anims
@import 'animations/all';
@import 'animations/fencing';
@import 'animations/baseball';
@import 'animations/archery';
@import 'animations/football';
@import 'animations/athletics';
@import 'animations/artistic-gymnastics';
@import 'animations/badminton';
@import 'animations/swimming';
@import 'animations/volleyball';
@import 'animations/weightlifting';
@import 'animations/billiards';
@import 'animations/table-tennis';
@import 'animations/roller-sports';
@import 'animations/wushu';
@import 'animations/water-polo';
@import 'animations/basketball';
@import 'animations/golf';
@import 'animations/taekwondo';
@import 'animations/tennis';
@import 'animations/rhythmic-gymnastics';
@import 'animations/diving';
@import 'animations/judo';
// modules
@import 'module/display-panel';
