$fencing: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,1,1,1,1,1,0,0,0),
  (0,1,1,1,1,1,1,1,0,1,1,0,0,1,0,0),
  (0,0,0,0,0,0,1,0,0,1,1,0,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0),
  (0,0,0,0,0,1,1,1,0,0,0,0,0,0,1,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);

$baseball: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,1,0,0,0,1,0,0),
  (0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,1,1,1,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);

$archery: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,1,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0),
  (0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,0),
  (0,0,1,1,1,1,1,0,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,1,1,0,0,0,0,0,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);

$football: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,1,1,1,1,0,0,0),
  (0,0,0,0,0,0,1,0,1,1,1,0,0,1,0,0),
  (0,0,0,0,0,0,0,1,1,1,1,0,0,1,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0),
  (0,1,1,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0),
  (0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,1,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);

$athletics: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,1,1,1,1,0),
  (0,0,0,0,0,0,1,0,1,0,0,1,1,1,0,0),
  (0,0,0,0,0,1,0,0,0,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,0,0,0,1,0),
  (0,0,0,0,0,0,1,1,1,1,0,1,1,1,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0),
  (0,1,1,1,0,0,0,0,1,0,0,0,0,0,0,0),
  (0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);

$artistic-gymnastics: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,1,1,1,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,0,0,0,0,0,0,0,1,1),
  (0,0,0,0,1,1,1,1,0,0,0,0,0,1,1,0),
  (0,0,0,0,1,0,1,1,1,1,1,1,1,1,0,0),
  (0,0,0,0,1,0,1,0,1,1,1,1,1,0,0,0),
  (0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0),
  (0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);

$badminton: (
  (0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,1,0,1,1,0,0,0,0,1,1,0),
  (0,0,0,1,1,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,1,1,0,0,1,0,0,0,0),
  (0,0,0,1,0,0,0,1,1,0,1,0,0,0,0,0),
  (0,0,1,1,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,1,0,1,1,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,1,1,1,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
);

$swimming: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0),
  (0,0,0,0,0,1,1,1,0,0,1,1,1,1,0,0),
  (0,0,0,1,1,0,0,0,1,0,0,1,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0),
  (0,0,1,1,0,0,1,1,1,0,1,1,0,0,1,1),
  (1,1,0,0,1,1,0,0,1,1,0,0,1,1,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);

$volleyball: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,1,1,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,1,1,0,0),
  (0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,1,1,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);

$weightlifting: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,1,1,0,0,0,0,0,0,0,0,0,0,1,1,0),
  (0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0),
  (0,1,1,0,1,0,0,0,0,0,0,1,0,1,1,0),
  (0,0,0,0,1,0,0,1,1,0,0,1,0,0,0,0),
  (0,0,0,0,1,0,1,1,1,1,0,1,0,0,0,0),
  (0,0,0,0,1,0,0,1,1,0,0,1,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,1,1,1,0,0,0,0,1,1,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);

$billiards: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,1,1,1,1,1,1,0,0,0,0,0,0,0,0),
  (0,1,1,1,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,1,1,1,1,1,1,0,0,0),
  (0,0,0,0,1,1,1,0,0,0,0,0,0,0,1,0),
  (0,0,0,0,1,0,0,1,0,0,1,1,1,1,1,1),
  (0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0),
  (0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0),
  (0,0,1,1,0,0,0,1,0,0,0,0,1,0,0,0),
  (0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);

$table-tennis: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,1,1,0,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,1,1,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,0,1,1,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0),
  (0,0,0,0,1,1,1,1,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0),
  (0,0,0,0,0,1,1,1,0,0,0,1,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);

$roller-sports: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,0,1,1,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,1,1,1,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,1,1,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,1,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,1,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,1,1,1,1,0,1,1,1,1,0,0,0,0,0),
  (0,0,1,0,1,0,0,1,0,1,0,0,0,0,0,0),
);

$wushu: (
  (0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,1,1,0,0,1,0,0,0),
  (0,0,0,1,0,0,0,1,1,1,1,0,0,1,0,0),
  (0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0),
  (0,0,0,1,0,0,0,0,1,1,0,0,1,0,0,0),
  (0,0,1,1,1,1,1,1,1,1,1,1,0,0,0,0),
  (0,0,0,1,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);

$water-polo: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,1,1,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,1,1,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,1,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,1,0,0,1,1,1,1,1,1,1,1,1,0,0),
  (0,0,0,1,1,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,1,1,0,1,1,1,1,0,1,1,0,0,1,1),
  (1,1,0,0,1,1,0,0,1,1,0,0,1,1,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);

$basketball: (
  (0,0,1,1,0,0,0,0,0,0,1,1,0,0,0,0),
  (0,0,1,1,0,1,0,0,0,1,1,1,1,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0),
  (1,1,1,1,1,0,0,1,1,1,1,1,0,0,0,0),
  (0,1,0,1,0,0,0,0,0,1,1,1,1,0,0,0),
  (0,0,1,0,0,0,0,0,0,0,1,1,0,1,0,0),
  (0,1,0,1,0,0,0,0,0,0,1,1,0,0,1,0),
  (0,0,0,0,0,0,0,0,0,1,1,1,0,0,1,0),
  (0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0),
);

$golf: (
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,1,1,1,1,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,1,1,0,0,0,1,1,1,0,0,0,1,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);

$judo: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,1),
  (0,0,0,1,1,1,1,0,0,0,0,1,0,0,1,0),
  (0,0,0,0,1,1,0,0,0,0,1,0,0,1,0,0),
  (0,0,0,1,1,0,0,0,0,1,0,0,1,0,0,0),
  (0,0,1,1,1,1,0,0,0,0,1,0,1,0,0,0),
  (0,0,1,1,0,0,1,0,0,0,0,1,1,1,0,0),
  (0,0,1,1,0,0,0,1,1,0,0,0,1,1,0,0),
  (0,0,1,1,1,0,0,0,1,1,0,0,1,1,0,0),
  (0,0,1,1,0,1,0,0,0,0,1,1,1,1,0,0),
  (0,0,0,1,0,1,0,0,0,0,1,1,1,0,0,0),
  (0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,0),
  (0,1,0,0,0,1,0,0,0,1,1,1,1,0,0,0),
  (1,0,0,0,0,1,1,0,0,0,1,1,0,0,0,0),
  (0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);

$taekwondo: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0),
  (0,1,1,0,0,0,0,0,1,0,1,1,1,1,0,0),
  (0,0,1,1,0,0,0,0,1,1,0,1,1,0,0,0),
  (0,0,0,0,1,0,0,0,1,0,1,1,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,1,0,1,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0),
  (0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);

$tennis: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,1,0,0,0,0,1,1,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,1,1,1,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,1,1,0,0,0),
  (0,0,0,0,1,1,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,1,1,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,1,1,1,0,1,0,0,0,0,0,1,0,0),
  (0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,1,1,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);

$rhythmic-gymnastics: (
  (0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0),
  (0,0,1,1,0,0,1,0,1,0,0,0,1,0,0,0),
  (0,1,1,1,1,0,1,0,0,1,0,0,1,0,0,0),
  (0,0,1,1,0,0,1,0,0,0,1,1,0,0,0,0),
  (0,0,0,1,1,1,0,0,0,0,0,0,0,0,1,0),
  (0,0,0,1,1,1,1,0,0,0,0,0,0,1,0,1),
  (0,0,0,0,0,1,1,1,1,0,0,0,1,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);

$diving: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0),
  (0,0,0,0,0,0,0,0,0,1,0,1,1,1,1,0),
  (0,0,0,0,0,1,1,1,1,1,1,0,1,1,0,0),
  (0,0,0,0,1,1,1,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
