$archery-1: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,1,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0),
  (0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,0),
  (0,0,1,1,1,1,1,0,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,1,1,0,0,0,0,0,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$archery-2: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,1,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0),
  (0,0,0,1,1,1,1,1,1,1,1,1,0,1,1,1),
  (0,0,1,1,1,1,1,0,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,1,1,0,0,0,0,0,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$archery-3: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,1,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0),
  (0,0,0,1,1,1,1,1,1,1,1,1,0,0,0,0),
  (0,0,1,1,1,1,1,0,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,1,1,0,0,0,0,0,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$archery-4: (

  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,1,1,1,0,0,0,1,0,0,0,0),
  (0,0,1,1,1,1,1,0,1,0,0,1,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,1,1,0,0,0,0,0,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$archery-5: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,1,1,1,0,0,0,1,0,0,0,0),
  (0,0,1,1,1,1,1,0,1,0,0,1,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,1,1,0,0,0,0,0,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
@keyframes archery {
  0%, 100% {
    box-shadow: to-led($archery-1);
  }
  20% {
    box-shadow: to-led($archery-2);
  }
  40% {
    box-shadow: to-led($archery-3);
  }
  60% {
    box-shadow: to-led($archery-4);
  }
  80% {
    box-shadow: to-led($archery-5);
  }
}
