$athletics-1: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,1,1,1,1,0),
  (0,0,0,0,0,0,1,0,1,0,0,1,1,1,0,0),
  (0,0,0,0,0,1,0,0,0,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,0,0,0,1,0),
  (0,0,0,0,0,0,1,1,1,1,0,1,1,1,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0),
  (0,1,1,1,0,0,0,0,1,0,0,0,0,0,0,0),
  (0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$athletics-2: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,0),
  (0,0,0,0,0,1,1,1,1,1,1,1,1,1,0,0),
  (0,0,0,0,0,1,0,0,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,1,0,1,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0),
  (0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0),
  (0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$athletics-3: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,0),
  (0,0,0,0,0,0,0,1,1,1,1,1,1,1,0,0),
  (0,0,0,0,0,0,1,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$athletics-4: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,0),
  (0,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0),
  (0,0,0,0,0,1,1,1,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,1,0,1,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0),
  (0,0,1,1,1,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$athletics-5: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,0),
  (0,0,0,0,0,0,0,1,0,0,0,1,1,1,0,0),
  (0,0,0,0,0,0,1,0,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,1,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,1,1,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0),
  (0,0,1,1,1,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
@keyframes athletics {
  0%, 100% {
    box-shadow: to-led($athletics-1);
  }
  20% {
    box-shadow: to-led($athletics-2);
  }
  40% {
    box-shadow: to-led($athletics-3);
  }
  60% {
    box-shadow: to-led($athletics-4);
  }
  80% {
    box-shadow: to-led($athletics-5);
  }
}
