$baseball: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,1,0,0,0,1,0,0),
  (0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,1,1,1,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$baseball-1: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,1,0,0,0,1,0,0),
  (0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,1,1,1,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$baseball-2: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,1,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,1,1,1,1,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$baseball-3: (

  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$baseball-4: (

  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,1,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$baseball-5: (

  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
@keyframes baseball {
  0%, 100% {
    box-shadow: to-led($baseball-1);
  }
  20% {
    box-shadow: to-led($baseball-2);
  }
  40% {
    box-shadow: to-led($baseball-3);
  }
  60% {
    box-shadow: to-led($baseball-4);
  }
  80% {
    box-shadow: to-led($baseball-5);
  }
}
