$billiards-1: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,1,1,1,1,1,1,0,0,0,0,0,0,0,0),
  (0,1,1,1,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,1,1,1,1,1,1,0,0,0),
  (0,0,0,0,1,1,1,0,0,0,0,0,0,0,1,0),
  (0,0,0,0,1,0,0,1,0,0,1,1,1,1,1,1),
  (0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0),
  (0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0),
  (0,0,1,1,0,0,0,1,0,0,0,0,1,0,0,0),
  (0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$billiards-2: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,1,1,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,1,1,0,1,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,1,1,1,1,1,1,1,1,1,1,0,1,0),
  (0,0,0,0,1,1,1,0,0,0,1,1,1,1,1,1),
  (0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0),
  (0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0),
  (0,0,1,1,0,0,0,1,0,0,0,0,1,0,0,0),
  (0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$billiards-3: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,1,1,1,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,0),
  (0,0,0,0,1,1,1,0,0,0,1,1,1,1,1,1),
  (0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0),
  (0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0),
  (0,0,1,1,0,0,0,1,0,0,0,0,1,0,0,0),
  (0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$billiards-4: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0),
  (0,0,1,1,1,1,1,1,1,0,0,0,0,0,0,0),
  (0,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,1,1,1,1,1,0,0,0,0),
  (0,0,0,0,1,0,0,1,0,0,1,1,1,1,1,1),
  (0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0),
  (0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0),
  (0,0,1,1,0,0,0,1,0,0,0,0,1,0,0,0),
  (0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$billiards-5: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,1,1,1,1,1,1,0,0,0,0,0,0,0,0),
  (0,1,1,1,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,1,1,1,1,1,1,0,0,0),
  (0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,0,1,0,0,1,1,1,1,1,1),
  (0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0),
  (0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0),
  (0,0,1,1,0,0,0,1,0,0,0,0,1,0,0,0),
  (0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
@keyframes billiards {
  0%, 100% {
    box-shadow: to-led($billiards-1);
  }
  20% {
    box-shadow: to-led($billiards-2);
  }
  40% {
    box-shadow: to-led($billiards-3);
  }
  60% {
    box-shadow: to-led($billiards-4);
  }
  80% {
    box-shadow: to-led($billiards-5);
  }
}
