$football: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,1,1,1,1,0,0,0),
  (0,0,0,0,0,0,1,0,1,1,1,0,0,1,0,0),
  (0,0,0,0,0,0,0,1,1,1,1,0,0,1,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0),
  (0,1,1,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0),
  (0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,1,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$football-1: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,1,1,1,1,0,0,0),
  (0,0,0,0,0,0,1,0,1,1,1,0,0,1,0,0),
  (0,0,0,0,0,0,0,1,1,1,1,0,0,1,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0),
  (0,1,1,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0),
  (0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,1,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$football-2: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,0,1,0,0,0),
  (0,0,0,0,0,1,1,1,1,1,1,0,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,1,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,1,1,0,0,0,1,0,1,0,0,0,0,0),
  (0,0,0,1,1,0,0,1,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$football-3: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,0,1,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,1,0,0,1,0,0),
  (0,0,0,0,0,0,1,0,0,1,1,0,0,1,0,0),
  (0,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$football-4: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,0,1,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,1,0,0,1,0,0),
  (0,0,0,0,0,0,1,0,0,1,1,0,0,1,0,0),
  (0,1,1,0,0,0,1,0,1,1,0,0,0,0,0,0),
  (0,1,1,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$football-5: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,0,1,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,1,0,0,1,0,0),
  (0,0,0,0,0,0,1,0,0,1,1,0,0,1,0,0),
  (0,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
@keyframes football {
  0%, 100% {
    box-shadow: to-led($football-1);
  }
  20% {
    box-shadow: to-led($football-2);
  }
  40% {
    box-shadow: to-led($football-3);
  }
  60% {
    box-shadow: to-led($football-4);
  }
  80% {
    box-shadow: to-led($football-5);
  }
}
