$golf-1: (
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,1,1,1,1,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,1,1,0,0,0,1,1,1,0,0,0,1,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$golf-2: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,0,1,1,1,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,0,0,0,1,0,0,0),
  (0,0,0,0,0,0,1,1,0,1,0,0,0,1,0,0),
  (0,0,0,0,0,0,1,0,1,0,0,0,0,1,1,0),
  (0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,1,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$golf-3: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,1,1),
  (0,0,0,0,0,0,0,1,1,1,1,0,0,1,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,1,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$golf-4: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,0,1,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,0,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,1,0,1,0,0,0,0),
  (0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0),
  (0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,1,1,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$golf-5: (
  (0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
@keyframes golf {
  0%, 100% {
    box-shadow: to-led($golf-1);
  }
  20% {
    box-shadow: to-led($golf-2);
  }
  40% {
    box-shadow: to-led($golf-3);
  }
  60% {
    box-shadow: to-led($golf-4);
  }
  80% {
    box-shadow: to-led($golf-5);
  }
}
