$judo: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,1),
  (0,0,0,1,1,1,1,0,0,0,0,1,0,0,1,0),
  (0,0,0,0,1,1,0,0,0,0,1,0,0,1,0,0),
  (0,0,0,1,1,0,0,0,0,1,0,0,1,0,0,0),
  (0,0,1,1,1,1,0,0,0,0,1,0,1,0,0,0),
  (0,0,1,1,0,0,1,0,0,0,0,1,1,1,0,0),
  (0,0,1,1,0,0,0,1,1,0,0,0,1,1,0,0),
  (0,0,1,1,1,0,0,0,1,1,0,0,1,1,0,0),
  (0,0,1,1,0,1,0,0,0,0,1,1,1,1,0,0),
  (0,0,0,1,0,1,0,0,0,0,1,1,1,0,0,0),
  (0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,0),
  (0,1,0,0,0,1,0,0,0,1,1,1,1,0,0,0),
  (1,0,0,0,0,1,1,0,0,0,1,1,0,0,0,0),
  (0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$judo-1: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,1),
  (0,0,0,1,1,1,1,0,0,0,0,1,0,0,1,0),
  (0,0,0,0,1,1,0,0,0,0,1,0,0,1,0,0),
  (0,0,0,1,1,0,0,0,0,1,0,0,1,0,0,0),
  (0,0,1,1,1,1,0,0,0,0,1,0,1,0,0,0),
  (0,0,1,1,0,0,1,0,0,0,0,1,1,1,0,0),
  (0,0,1,1,0,0,0,1,1,0,0,0,1,1,0,0),
  (0,0,1,1,1,0,0,0,1,1,0,0,1,1,0,0),
  (0,0,1,1,0,1,0,0,0,0,1,1,1,1,0,0),
  (0,0,0,1,0,1,0,0,0,0,1,1,1,0,0,0),
  (0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,0),
  (0,1,0,0,0,1,0,0,0,1,1,1,1,0,0,0),
  (1,0,0,0,0,1,1,0,0,0,1,1,0,0,0,0),
  (0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$judo-2: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,1,0,1,0,0,0),
  (0,0,0,1,1,0,0,0,0,1,0,1,0,0,0,0),
  (0,0,1,1,1,0,0,0,0,1,1,1,1,0,0,0),
  (0,0,1,1,0,1,0,0,0,0,0,1,1,1,0,0),
  (0,0,1,1,1,1,1,1,0,0,1,0,1,1,0,0),
  (0,0,0,1,1,0,0,0,0,0,0,1,1,1,0,0),
  (0,0,0,1,0,1,0,0,0,0,0,0,1,1,0,0),
  (0,0,0,1,0,1,0,0,0,0,1,1,1,1,0,0),
  (0,0,0,1,0,1,0,0,0,0,0,1,1,0,0,0),
  (0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0),
  (0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$judo-3: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,1,0,1,0,0,0),
  (0,0,0,1,1,0,0,0,0,1,0,0,0,1,0,0),
  (0,0,1,1,1,0,0,0,0,1,1,1,1,0,0,0),
  (0,0,1,1,0,1,0,0,0,0,1,1,1,1,0,0),
  (0,0,1,1,1,1,1,1,0,0,1,0,0,1,0,0),
  (0,0,0,1,1,0,0,0,0,0,0,1,0,1,0,0),
  (0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0),
  (0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$judo-4: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,1,1,1,1,0,0),
  (0,0,0,1,1,1,1,0,0,0,0,1,1,0,0,0),
  (0,0,0,0,1,1,0,0,0,1,0,0,1,1,0,0),
  (0,0,0,1,1,0,1,0,0,0,1,1,1,1,1,0),
  (0,0,1,1,1,1,0,0,0,0,0,0,1,1,1,0),
  (0,0,1,1,1,0,0,1,0,0,0,1,0,1,1,0),
  (0,0,1,1,1,1,1,0,0,0,1,0,1,1,0,0),
  (0,0,1,1,1,0,0,0,0,0,0,1,0,0,1,0),
  (0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,1),
  (0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0),
  (0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0),
  (0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$judo-5: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,1,1,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,1,1,1,1,0,0,0),
  (0,0,0,1,1,0,1,0,0,0,1,1,0,0,0,0),
  (0,0,1,1,1,1,0,1,1,1,1,1,1,0,0,0),
  (0,0,1,1,1,0,0,1,0,0,1,1,1,0,0,0),
  (0,0,1,1,1,1,1,0,0,1,0,1,1,0,0,0),
  (0,0,1,1,1,0,0,0,0,0,1,1,0,1,1,0),
  (0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,1),
  (0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,1,0,0,1,0,0,0,1,1,0,0,0,0,0),
  (0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
@keyframes judo {
  0%, 100% {
    box-shadow: to-led($judo-1);
  }
  20% {
    box-shadow: to-led($judo-2);
  }
  40% {
    box-shadow: to-led($judo-3);
  }
  60% {
    box-shadow: to-led($judo-4);
  }
  80% {
    box-shadow: to-led($judo-5);
  }
}
