$rhythmic-gymnastics-1: (
  (0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0),
  (0,0,1,1,0,0,1,0,1,0,0,0,1,0,0,0),
  (0,1,1,1,1,0,1,0,0,1,0,0,1,0,0,0),
  (0,0,1,1,0,0,1,0,0,0,1,1,0,0,0,0),
  (0,0,0,1,1,1,0,0,0,0,0,0,0,0,1,0),
  (0,0,0,1,1,1,1,0,0,0,0,0,0,1,0,1),
  (0,0,0,0,0,1,1,1,1,0,0,0,1,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$rhythmic-gymnastics-2: (
  (0,0,1,1,1,1,1,1,0,0,0,0,0,0,0,0),
  (0,1,0,1,1,0,1,0,1,0,0,0,0,0,0,0),
  (0,0,1,1,1,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,1,1,0,0,0,0,0,0,1,0,0),
  (0,0,0,0,0,1,1,1,1,0,0,0,1,0,1,0),
  (0,0,0,0,0,0,1,1,1,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$rhythmic-gymnastics-3: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0),
  (0,1,0,1,1,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0),
  (0,0,0,1,1,1,0,0,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$rhythmic-gymnastics-4: (
  (0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,1,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,1,0,1,0,1,1,0,0,0,0,0,0,0),
  (0,0,1,0,0,1,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,1,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$rhythmic-gymnastics-5: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0),
  (0,0,0,0,0,1,0,0,1,1,0,0,0,0,1,0),
  (0,0,0,0,0,1,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
@keyframes rhythmic-gymnastics {
  0%, 100% {
    box-shadow: to-led($rhythmic-gymnastics-1);
  }
  20% {
    box-shadow: to-led($rhythmic-gymnastics-2);
  }
  40% {
    box-shadow: to-led($rhythmic-gymnastics-3);
  }
  60% {
    box-shadow: to-led($rhythmic-gymnastics-4);
  }
  80% {
    box-shadow: to-led($rhythmic-gymnastics-5);
  }
}
