$roller-sports: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,0,1,1,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,1,1,1,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,1,1,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,1,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,1,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,1,1,1,1,0,1,1,1,1,0,0,0,0,0),
  (0,0,1,0,1,0,0,1,0,1,0,0,0,0,0,0),
);
$roller-sports-1: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,0,1,1,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,1,1,1,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,1,1,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,1,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,1,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,1,1,1,1,0,1,1,1,1,0,0,0,0,0),
  (0,0,1,0,1,0,0,1,0,1,0,0,0,0,0,0),
);
$roller-sports-2: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,1,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,1,1,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,1,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,1,1,0,0,0,0,0,0,0,0,0),
);
$roller-sports-3: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0),
  (0,1,1,1,1,0,0,1,1,1,1,0,0,0,0,0),
  (0,1,0,1,0,0,0,1,0,1,0,0,0,0,0,0),
);
$roller-sports-4: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,1,1,0,1,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,0,0,1,0,0),
  (0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,1,1,1,1,0,1,1,1,1,0,0,0,0),
  (0,0,0,1,0,1,0,0,1,0,1,0,0,0,0,0),
);
$roller-sports-5: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,1,1,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,1,1,0,1,0,0,0,0),
  (0,0,0,0,1,0,0,1,1,1,0,0,1,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,1,1,1,1,0,1,1,1,1,0,0,0,0,0),
  (0,0,1,0,1,0,0,1,0,1,0,0,0,0,0,0),
);
@keyframes roller-sports {
  0%, 100% {
    box-shadow: to-led($roller-sports-1);
  }
  20% {
    box-shadow: to-led($roller-sports-2);
  }
  40% {
    box-shadow: to-led($roller-sports-3);
  }
  60% {
    box-shadow: to-led($roller-sports-4);
  }
  80% {
    box-shadow: to-led($roller-sports-5);
  }
}
