$table-tennis: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,1,1,0,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,1,1,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,0,1,1,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0),
  (0,0,0,0,1,1,1,1,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0),
  (0,0,0,0,0,1,1,1,0,0,0,1,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$table-tennis-1: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,1,1,0,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,1,1,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,0,1,1,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0),
  (0,0,0,0,1,1,1,1,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0),
  (0,0,0,0,0,1,1,1,0,0,0,1,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$table-tennis-2: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,1,1,1,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$table-tennis-3: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,1,1,1,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,1,1,0,0,1,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$table-tennis-4: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,1,0,1,0,1,1,0,1,0,0,0,0,0),
  (0,0,0,0,1,1,0,1,1,0,0,1,0,0,0,0),
  (0,0,0,0,1,1,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$table-tennis-5: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,1,0,0,0,0,0),
  (0,0,0,0,1,0,1,1,1,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
@keyframes table-tennis {
  0%, 100% {
    box-shadow: to-led($table-tennis-1);
  }
  20% {
    box-shadow: to-led($table-tennis-2);
  }
  40% {
    box-shadow: to-led($table-tennis-3);
  }
  60% {
    box-shadow: to-led($table-tennis-4);
  }
  80% {
    box-shadow: to-led($table-tennis-5);
  }
}
