$taekwondo-1: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0),
  (0,1,1,0,0,0,0,0,1,0,1,1,1,1,0,0),
  (0,0,1,1,0,0,0,0,1,1,0,1,1,0,0,0),
  (0,0,0,0,1,0,0,0,1,0,1,1,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,1,0,1,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0),
  (0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$taekwondo-2: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0),
  (0,0,0,1,1,0,1,1,1,0,1,0,0,0,0,0),
  (0,0,0,1,0,1,0,1,1,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$taekwondo-3: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,1,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,1,0,0,0,0),
  (0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$taekwondo-4: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,0),
  (0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0),
  (0,0,1,1,0,0,0,0,1,1,1,1,0,0,0,0),
  (0,0,0,0,1,1,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$taekwondo-5: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0),
  (0,0,1,0,0,0,0,1,0,1,1,1,1,0,0,0),
  (0,0,1,1,0,0,1,0,1,0,1,1,0,0,0,0),
  (0,0,0,0,1,0,0,0,0,1,1,1,0,0,0,0),
  (0,0,0,0,0,1,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
@keyframes taekwondo {
  0%, 100% {
    box-shadow: to-led($taekwondo-1);
  }
  20% {
    box-shadow: to-led($taekwondo-2);
  }
  40% {
    box-shadow: to-led($taekwondo-3);
  }
  60% {
    box-shadow: to-led($taekwondo-4);
  }
  80% {
    box-shadow: to-led($taekwondo-5);
  }
}
