$volleyball: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,1,1,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,1,1,0,0),
  (0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,1,1,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$volleyball-1: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,1,1,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,1,1,0,0),
  (0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,1,1,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$volleyball-2: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,1,1,0,0,0),
  (0,0,0,0,0,1,1,1,0,0,0,1,1,0,0,0),
  (0,0,0,0,1,1,1,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,1,1,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$volleyball-3: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,0,1,1,0,0,0,0),
  (0,0,0,0,1,1,1,0,0,1,1,1,0,0,0,0),
  (0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,1,1,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$volleyball-4: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,1),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,1,1,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$volleyball-5: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,1,1,1,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,1,1,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
@keyframes volleyball {
  0%, 100% {
    box-shadow: to-led($volleyball-1);
  }
  20% {
    box-shadow: to-led($volleyball-2);
  }
  40% {
    box-shadow: to-led($volleyball-3);
  }
  60% {
    box-shadow: to-led($volleyball-4);
  }
  80% {
    box-shadow: to-led($volleyball-5);
  }
}
