$water-polo: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,1,1,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,1,1,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,1,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,1,0,0,1,1,1,1,1,1,1,1,1,0,0),
  (0,0,0,1,1,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,1,1,0,1,1,1,1,0,1,1,0,0,1,1),
  (1,1,0,0,1,1,0,0,1,1,0,0,1,1,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$water-polo-1: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,1,1,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,1,1,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,1,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,1,0,0,1,1,1,1,1,1,1,1,1,0,0),
  (0,0,0,1,1,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,1,1,0,1,1,1,1,0,1,1,0,0,1,1),
  (1,1,0,0,1,1,0,0,1,1,0,0,1,1,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$water-polo-2: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,1,1,0,0,1,1,0,0,0,0,0,1,0,0),
  (0,0,1,1,0,0,1,1,1,0,0,0,1,0,0,0),
  (0,0,1,0,0,0,1,1,1,1,1,1,0,0,0,0),
  (0,0,0,1,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,0,1,1,1,0,0,0,0,0,0),
  (1,1,0,0,1,1,0,1,1,1,1,0,1,1,0,0),
  (0,0,1,1,0,0,1,1,0,0,1,1,0,0,1,1),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$water-polo-3: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,1,0,0,0,0),
  (1,1,0,0,1,1,1,1,1,1,0,0,1,1,0,0),
  (0,0,1,1,0,0,1,1,0,0,1,1,0,0,1,1),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$water-polo-4: (
  (0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,1,1,0,1,1,1,1,1,1,1,0,0,1,1),
  (1,1,1,1,1,1,0,0,1,1,0,0,1,1,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$water-polo-5: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,1,1,0,1,1,1,1,1,1,1,0,0,1,1),
  (1,1,1,1,1,1,0,0,1,1,0,0,1,1,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
@keyframes water-polo {
  0%, 100% {
    box-shadow: to-led($water-polo-1);
  }
  20% {
    box-shadow: to-led($water-polo-2);
  }
  40% {
    box-shadow: to-led($water-polo-3);
  }
  60% {
    box-shadow: to-led($water-polo-4);
  }
  80% {
    box-shadow: to-led($water-polo-5);
  }
}
