$weightlifting: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,1,1,0,0,0,0,0,0,0,0,0,0,1,1,0),
  (0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0),
  (0,1,1,0,1,0,0,0,0,0,0,1,0,1,1,0),
  (0,0,0,0,1,0,0,1,1,0,0,1,0,0,0,0),
  (0,0,0,0,1,0,1,1,1,1,0,1,0,0,0,0),
  (0,0,0,0,1,0,0,1,1,0,0,1,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,1,1,1,0,0,0,0,1,1,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$weightlifting-1: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,1,1,0,0,0,0,0,0,0,0,0,0,1,1,0),
  (0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0),
  (0,1,1,0,1,0,0,0,0,0,0,1,0,1,1,0),
  (0,0,0,0,1,0,0,1,1,0,0,1,0,0,0,0),
  (0,0,0,0,1,0,1,1,1,1,0,1,0,0,0,0),
  (0,0,0,0,1,0,0,1,1,0,0,1,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,1,1,1,0,0,0,0,1,1,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$weightlifting-2: (
  (0,1,1,0,0,0,0,0,0,0,0,0,0,1,1,0),
  (0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0),
  (0,1,1,0,1,0,0,0,0,0,0,1,0,1,1,0),
  (0,0,0,0,1,0,0,1,1,0,0,1,0,0,0,0),
  (0,0,0,0,1,0,1,1,1,1,0,1,0,0,0,0),
  (0,0,0,0,0,1,0,1,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,1,1,1,0,0,0,0,1,1,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$weightlifting-3: (
  (0,1,1,0,0,0,0,0,0,0,0,0,0,1,1,0),
  (0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0),
  (0,1,1,0,1,0,0,0,0,0,0,1,0,1,1,0),
  (0,0,0,0,1,0,0,1,1,0,0,1,0,0,0,0),
  (0,0,0,0,1,0,1,1,1,1,0,1,0,0,0,0),
  (0,0,0,0,0,1,0,1,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$weightlifting-4: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,1,1,0,1,0,0,0,0,0),
  (0,1,1,0,1,1,1,1,1,1,1,1,0,1,1,0),
  (0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0),
  (0,1,1,0,0,0,0,1,1,0,0,0,0,1,1,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,1,1,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$weightlifting-5: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,1,1,0,1,0,0,0,0,0),
  (0,0,0,0,1,0,0,1,1,0,0,1,0,0,0,0),
  (0,0,0,0,1,0,1,1,1,1,0,1,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,1,1,0,0,1,0,0,0,0,1,0,0,1,1,0),
  (0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0),
  (0,1,1,0,1,1,0,0,0,0,1,1,0,1,1,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
@keyframes weightlifting {
  0%, 100% {
    box-shadow: to-led($weightlifting-1);
  }
  20% {
    box-shadow: to-led($weightlifting-2);
  }
  40% {
    box-shadow: to-led($weightlifting-3);
  }
  60% {
    box-shadow: to-led($weightlifting-4);
  }
  80% {
    box-shadow: to-led($weightlifting-5);
  }
}
