$wushu: (
  (0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,1,1,0,0,1,0,0,0),
  (0,0,0,1,0,0,0,1,1,1,1,0,0,1,0,0),
  (0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0),
  (0,0,0,1,0,0,0,0,1,1,0,0,1,0,0,0),
  (0,0,1,1,1,1,1,1,1,1,1,1,0,0,0,0),
  (0,0,0,1,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$wushu-1: (
  (0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,1,1,0,0,1,0,0,0),
  (0,0,0,1,0,0,0,1,1,1,1,0,0,1,0,0),
  (0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0),
  (0,0,0,1,0,0,0,0,1,1,0,0,1,0,0,0),
  (0,0,1,1,1,1,1,1,1,1,1,1,0,0,0,0),
  (0,0,0,1,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$wushu-2: (
  (0,0,0,0,0,0,0,1,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,1,0,0,1,0,1,1,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,1,1,1,1,0,0,0,0),
  (0,0,1,0,0,0,0,0,0,1,1,0,1,0,0,0),
  (0,1,0,0,0,0,0,0,0,1,1,0,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$wushu-3: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,1,0,1,0,0,0),
  (1,1,1,1,1,1,1,1,1,1,1,0,0,1,0,0),
  (0,0,0,0,0,0,0,1,0,1,1,0,0,1,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0),
  (0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$wushu-4: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,1,1,1,0,0,0,0,0,0),
  (1,1,1,1,1,1,1,1,1,0,1,1,0,0,0,0),
  (0,0,0,0,0,1,0,1,1,0,0,0,1,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$wushu-5: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (1,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0),
  (0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,1,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,1,0,1,0,1,1,1,0,0,0,0,0,0),
  (0,0,0,1,1,1,1,1,1,0,1,1,0,0,0,0),
  (0,0,0,0,1,0,0,1,1,0,0,0,1,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
@keyframes wushu {
  0%, 100% {
    box-shadow: to-led($wushu-1);
  }
  20% {
    box-shadow: to-led($wushu-2);
  }
  40% {
    box-shadow: to-led($wushu-3);
  }
  60% {
    box-shadow: to-led($wushu-4);
  }
  80% {
    box-shadow: to-led($wushu-5);
  }
}
