$diving-1: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0),
  (0,0,0,0,0,0,0,0,0,1,0,1,1,1,1,0),
  (0,0,0,0,0,1,1,1,1,1,1,0,1,1,0,0),
  (0,0,0,0,1,1,1,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$diving-2: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,0,1,1,0,1,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,1,1,1,1,0,0),
  (0,0,0,0,1,1,0,1,1,1,0,1,1,1,0,0),
  (0,0,0,0,1,0,1,1,1,0,0,0,1,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$diving-3: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,1,0,1,1,0,0,0,0),
  (0,0,0,0,0,1,1,1,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,0,1,1,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,0),
  (1,1,1,1,1,0,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$diving-4: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (1,1,1,1,1,0,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,1,1,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,1,1,1,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);
$diving-5: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (1,1,1,1,1,0,0,0,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0),
);
@keyframes diving {
  0%, 100% {
    box-shadow: to-led($diving-1);
  }
  20% {
    box-shadow: to-led($diving-2);
  }
  40% {
    box-shadow: to-led($diving-3);
  }
  60% {
    box-shadow: to-led($diving-4);
  }
  80% {
    box-shadow: to-led($diving-5);
  }
}
