$fencing-1: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,1,1,1,1,1,0,0,0),
  (0,1,1,1,1,1,1,1,0,1,1,0,0,1,0,0),
  (0,0,0,0,0,0,1,0,0,1,1,0,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0),
  (0,0,0,0,0,1,1,1,0,0,0,0,0,0,1,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);

$fencing-2: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,1,1,1,1,1,0,0),
  (0,0,1,1,1,1,1,1,1,1,1,0,0,1,0,0),
  (0,0,0,0,0,0,0,1,0,1,1,0,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0),
  (0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0),
  (0,0,0,0,0,0,1,1,1,0,0,0,0,0,1,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);

$fencing-3: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,1,1,1,1,1,0,0,0),
  (0,1,1,1,1,1,1,1,0,1,1,0,0,1,0,0),
  (0,0,0,0,0,0,1,0,0,1,1,0,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0),
  (0,0,0,0,0,1,1,1,0,0,0,0,0,0,1,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);

$fencing-4: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,1,1,0,0,0,0),
  (0,1,1,1,1,1,1,1,0,1,1,0,1,0,0,0),
  (0,0,0,0,0,0,1,0,0,1,1,0,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0),
  (0,0,0,0,0,1,1,1,0,0,0,0,0,0,1,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);

$fencing-5: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,1,1,1,1,1,0,0,0,0),
  (1,1,1,1,1,1,1,1,0,1,1,0,1,0,0,0),
  (0,0,0,0,0,1,0,0,0,1,1,0,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0),
  (0,0,0,0,0,1,1,1,0,0,0,0,0,0,1,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
);

@keyframes fencing {
  0%, 100% {
    box-shadow: to-led($fencing-1);
  }
  20% {
    box-shadow: to-led($fencing-2);
  }
  40% {
    box-shadow: to-led($fencing-3);
  }
  60% {
    box-shadow: to-led($fencing-4);
  }
  80% {
    box-shadow: to-led($fencing-5);
  }
}
