<!DOCTYPE html>
html(lang="zh-TW")
  head
    include partial/_head.pug
    link(href="css/main.css", rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js")

  body
    script
      include partial/_ga.js
    main.main
      .credit-container
        .author
          | Author:
          a(href="https://goo.gl/H9uJyX", target="_blank", rel="noopener") Rex Tsou
        .credit
          | Inspired:
          a(href="https://goo.gl/bkAxv1", target="_blank", rel="noopener") BOHAN Graphic Design Office
      .title-container
        canvas.display-panel.led-panel(width=302, height=132, data-type="led_2017")
        canvas.display-panel.led-panel(width=442, height=132, data-type="led_taipei")
        canvas.display-panel.led-panel(width=832, height=132, data-type="led_fisu")
      each val in ['fencing', 'baseball', 'archery', 'football', 'artistic_gymnastics', 'athletics', 'badminton', 'swimming', 'volleyball', 'weightlifting', 'billiards', 'table_tennis', 'roller_sports', 'wushu', 'water_polo', 'basketball', 'golf', 'judo', 'taekwondo', 'tennis', 'rhythmic_gymnastics', 'diving']
        canvas.display-panel.sport-panel(width=162, height=152, data-type=val)
      canvas.display-panel.sport-panel(width=452, height=122, data-type="fisu_flag")
      .switch-container
        .material
          input#switch.input(type="checkbox")
          label.label(for="switch")
            span.text.on on
            span.text /
            span.text.off off
    script(src="js/canvas.js")
    script(src="js/main.js")
