<!DOCTYPE html>
html(lang="zh-TW")
  head
    include partial/_head.pug
    link(href="css/main.css", rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js")

  body
    script
      include partial/_ga.js
    main.main
      .credit-container
        .author
          | Author:
          a(href="https://rex-tsou.com", target="_blank", rel="noopener") Rex Tsou
        .credit
          | Inspired:
          a(href="https://goo.gl/bkAxv1", target="_blank", rel="noopener") BOHAN Graphic Design Office
      .title-container
        each val in ['led-2017', 'led-taipei', 'led-fisu']
          .display-panel.led-panel(data-type=val)
      each val in ['fencing', 'baseball', 'archery', 'football', 'athletics', 'artistic-gymnastics', 'badminton', 'swimming', 'volleyball', 'weightlifting', 'billiards', 'table-tennis', 'roller-sports', 'wushu', 'water-polo', 'basketball', 'golf', 'judo', 'taekwondo', 'tennis', 'rhythmic-gymnastics', 'diving', 'fisu-flag']
        .display-panel.sport-panel(data-type=val)
      .switch-container
        .material
          input#switch.input(type="checkbox")
          label.label(for="switch")
            span.text.on on
            span.text /
            span.text.off off
    script(src="js/main.js")
