meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=0.3")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(name="description", content="1999年，全世界第一個動態小綠人號誌於台北啟用。2017 年，「世界大學運動會」在台北舉行，小綠人 18 歲。")
meta(name="author", content="鄒適齊")
meta(name="copyright", content="鄒適齊")
meta(property="og:url", content="https://akccakcctw.github.io/walking-man/dist/")
meta(property="og:title", content="Walking Man | 2017 Taipei Universiade")
meta(property="og:type", content="website")
meta(property="og:description", content="1999年，全世界第一個動態小綠人號誌於台北啟用。2017 年，「世界大學運動會」在台北舉行，小綠人 18 歲。")
meta(property="og:image", content="https://akccakcctw.github.io/walking-man/dist/assets/fb-share.png")
meta(itemprop="name", content="Walking Man | 2017 Taipei Universiade")
meta(itemprop="description", content="1999年，全世界第一個動態小綠人號誌於台北啟用。2017 年，「世界大學運動會」在台北舉行，小綠人 18 歲。")
include _favicon.pug
title Walking Man | 2017 Taipei Universiade
