.main {
  width: 100%;
  max-width: 1680px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  margin: 10px auto;
}

.title-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.display-panel {
  display: inline-block;
  position: relative;
  flex-basis: 160px;
  height: 150px;
  border: 1px solid transparent;
  margin: 25px;
  @media (min-width: 1680px) {
    margin: 40px;
  }
  &[data-type="led-2017"] {
    flex-basis: 300px;
    height: 130px;
    margin: 0;
  }
  &[data-type="led-taipei"] {
    flex-basis: 440px;
    height: 130px;
    margin: 0;
  }
  &[data-type="led-fisu"] {
    flex-basis: 830px;
    height: 130px;
    margin: 0;
  }
  &[data-type="fisu-flag"] {
    flex-basis: 450px;
    height: 120px;
  }
  &:after {
    content: '';
    position: absolute;
    top: -9px;
    right: 0;
    left: -9px;
    bottom: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}
