.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  color: $c-white;
  .input {
    display: none;
    &:checked+.label {
      .on {
        opacity: 1;
      }
      .off {
        opacity: .3;
      }
    }
  }
  .label {
    cursor: pointer;
    font-size: 3rem;
    border: 2px solid rgba($c-white, .1);
    padding: .2em .5em;
    .text {
      transition: .2s ease-in-out;
    }
    .on {
      opacity: .3;
    }
  }
}
